*{
    margin: 0;
    padding: 00;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/*
other-content:hover{
    color: red;
    text-decoration: underline;
} */
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 510px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border: .7px solid rgba(255, 255, 255, .2);
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.intro-text{
    width: 260px;
    height: 60px;
    margin: 1rem;
    font-size: 1.9rem;
    font-weight: bolder;
    text-decoration: underline;
    color: #fff;
}

.inputs{
    width: 260px;
    height: 260px;
}

.name-input{
    display: flex;
}

.name-input input{
    width: 260px;
    height: 50px;
    padding: 5px;
    outline: none;
    border: .5px solid #dbdbdb;
    padding: .9rem;
}

#inputOne input{
    border-radius: 3px 3px 3px 3px;
}
/*
#inputTwo input{
    border-radius: 0 3px 3px 0;
}*/

input::placeholder{
    color: #bfbfbf;
}

.password-input{
    display: flex;
    flex-direction: column;
}

.password-input input{
    height: 50px;
    outline: none;
    border: .5px solid #dbdbdb;
    border-radius: 3px;
    padding: .9rem;
}

label{
    padding: 10px 0 0 0;
    font-size: 1rem;
    color: #fff;
}

.btn-box{
    height: 100px;
}

.btn-box p{
    font-size: 1rem;
    padding: 1rem 0;
}

.btn-box button{
    width: 260px;
    height: 45px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    outline: none;
    background: #f2611e;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.other-content{
    width: 260px;
    height: 90px;
    cursor: pointer;
    text-decoration: underline;
}

.other-content p{
    text-align: center;
    padding: .2rem;
    font-size: 1rem;
    font-weight: 500;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
}

.links a{
    display: block;
    width: 120px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 3px;
    color: #fff;
}
/*
.links a:nth-child(1){
    background: #1DA1F2;
}

.links a:nth-child(2){
    background: #26242e;
}
*/
